@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Inter;
}

body {
  background-color: #f3f5fc;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainHeader {
  display: flex;
  align-items: center;
  width: 100%;
  /* margin-bottom: 2rem; */
  padding: 1.5rem;
}

.containerContent {
  display: flex;

  flex-direction: column;
  justify-content: space-between;

  padding: 1rem;
  gap: 1rem;

  width: 100%;
}

.containerInput {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100%;

  gap: 1rem;
  padding: 1rem;
}

.inputText,
.outputText {
  line-height: 1.25;
  letter-spacing: 1px;

  width: 100%;
  height: 100%;

  border: none;
  outline: none;

  resize: none;

  background-color: transparent;
  color: #0a3871;

  font-size: 1.5rem;
  font-weight: 500;

  &::-webkit-input-placeholder {
    font-size: 1.5rem;
    font-weight: normal;
    color: #0a3871;
  }
}

#imageNoTextOutput {
  display: none;
}

.errorMessage {
  visibility: hidden;

  display: flex;
  align-self: flex-start;

  font-size: 0.75rem;

  gap: 0.5rem;
}

.container__buttons {
  display: flex;

  flex-direction: column;
  align-items: center;

  gap: 1.5rem;

  width: 100%;
}

.btn {
  width: 100%;

  padding: 1.5rem;

  border-radius: 1.5rem;

  border: none;

  font-size: 1rem;

  cursor: pointer;

  transition: font-size 0.3s;
}

.btnCript {
  background-color: #0a3871;
  color: white;

  transition: background-color, font-size 0.3s;
}

.btnDescript {
  background-color: transparent;

  color: #0a3871;

  border: 2px solid #093367;
}

.btnCopy {
  display: none;

  background-color: transparent;

  color: #0a3871;

  border: 2px solid #093367;
}

.btn:hover {
  font-size: 1.15rem;
}

.btnCript:hover {
  background-color: #072952;
}

.containerOutput {
  display: flex;

  width: 100%;

  min-height: 100%;

  padding: 1rem;
}

.cardOutput {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  gap: 1rem;

  padding: 2rem;

  width: 100%;
  height: 100%;

  text-align: center;

  border-radius: 1.5rem;

  box-shadow: 0px 2px 0.5rem rgba(0, 0, 0, 0.5);

  & img {
    animation: imageAnimation 0.5s linear;
  }
}

.outputText {
  display: none;
}

.mainFooter {
  text-align: center;

  width: 100%;

  margin-top: 1rem;
  padding: 1rem;

  background-color: #093367;

  color: #fff;
}

@keyframes imageAnimation {
  0% {
    scale: 0.5;
  }
  50% {
    scale: 0.75;
  }
  100% {
    scale: 1;
  }
}
